{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Tem certeza de que deseja excluir "{{item}}"?</p>
            <form action="{% url 'delete_order' item.id %}" method="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'home' %}">Cancelar</a>

                <input class="btn btn-danger" type="submit" name="Confirm" value="Excluir"></input>
            </form>
        </div>
    </div>
</div>



{% endblock %}